@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 197 89% 45%;
    --primary-foreground: 0 0% 0%; 
    --secondary: 199 76% 92%;
    --secondary-foreground: 215 25% 27%;
    --muted: 0 0% 100% / 15%; 
    --muted-foreground: 0 0% 60%; 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --success: 161 94% 30%;
    --success-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 213 27% 84%;
    --input: 214.3 20% 65%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
    --custom-color: 88 100% 74%; /* #CDFF7F */
    --custom-background: 0 0% 67% / 30%; /* #ABABAB4D */
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 199 76% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 100% / 15%; 
    --muted-foreground: 0 0% 70%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0 0% 100%;
    --success: 161 94% 30%;
    --success-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 215 19% 35%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;
    --custom-color: 88 100% 74%;
    --custom-background: 0 0% 67% / 30%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-muted rounded-lg;
  }

  html {
    overflow-x: hidden !important;
    scrollbar-gutter: stable;
    width: 100%;
  }

  body,
  #root {
    @apply bg-[#101418] text-foreground leading-normal overflow-x-hidden min-h-screen flex flex-col !min-w-full;
    -webkit-font-smoothing: antialiased;
  }


  p {
    @apply text-muted-foreground font-montserrat;
  }

  h1,
  .h1 {
    @apply text-4xl font-bold font-lexend;
  }

  h2,
  .h2 {
    @apply text-3xl font-bold font-lexend;
  }

  h3,
  .h3 {
    @apply text-[20px] font-semibold font-lexend;
  }

  h4,
  .h4 {
    @apply text-lg font-semibold font-lexend;
  }

  h5,
  .h5 {
    @apply text-base font-semibold font-lexend;
  }

  h6,
  .h6 {
    @apply text-base font-semibold font-lexend;
  }

  hr {
    @apply border-muted;
  }

  .loader {
    width: 28px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: hsl(var(--secondary));
    box-shadow: 0 0 0 0 hsl(var(--primary));
    animation: l1 1s infinite;
  }

  @keyframes l1 {
    100% {
      box-shadow: 0 0 0 30px hsl(var(--secondary));
    }
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}